/* Flex container for centering the grid horizontally */
.grid-wrapper {
    display: flex;
    justify-content: center; /* Center the grid container horizontally */
    padding-top: 100px;
}

/* Main product grid */
.product-grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); /* Fixed width for each product */
    gap: 20px;
    justify-content: center; /* Center the items within the grid */
}


@media (min-width: 1440px) {
    .product-grid {
        grid-template-columns: repeat(4, 350px); /* Limit to 4 fixed-width columns */
        gap: 20px;
        justify-content: center; /* Center the grid items */
    }
}
