.heading-details{
    padding-top: 10px;
    width: 88%;
    display: flex;
    justify-content: space-between;
}

.decoration-line-top{
    margin-right: 80px;
    width: 200px;
    height: 1px;
    background-color: black;
    margin-top: -7px;
}

.decoration-line-bottom{
    margin-right: 100px;
    width: 180px;
    height: 1px;
    background-color: black;
    margin-top: -7px;
}

.product {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    width: 350px;
    height: 470px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: Inter;
}

.product-price {
    font-size: 1.2em;
    color: #000000;
    margin: 10px 0;
    font-family: Inter;
}

.product-description {
    font-size: 1em;
    color: #000000;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 120px;
    text-align: left;

}
